@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
table,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
icle,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/************************* basic html *************************/
h1 {
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    font-size: 40px;
    margin: 0;
    text-align: center;
    margin: 1% 0 2% 0;
    font-weight: 600;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    text-transform: uppercase;
    font-size: 33px;
    text-align: center;
    margin: 2% 0 1% 0;
    font-weight: bold;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    font-size: 28px;
    text-align: center;
    margin: 1% 0 2% 0;
    font-weight: bold;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    font-size: 23px;
    margin: 2% 0 1% 0;
    font-weight: bold;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    color: #fc7978;
    font-weight: bold;
    font-size: 19px;
    margin: 1% 0 2% 0;
}

p {
    font-family: "Roboto", sans-serif;
    font-display: swap;
    font-size: 16px;
    padding: 0 0 20px 0;
}

a {
    color: #fc7978;
    font-weight: bold;
}

a:active {
    color: #fc7978;
    text-decoration: underline;
}

hr {
    margin: auto;
    width: 40%;
}

ul,
ol {
    font-family: "Roboto", sans-serif;
    font-display: swap;
    font-size: 16px;
}

/************************* navigation bar *************************/
header {
    height: 10%;
    background-color: white;
    width: 100%;
    position: relative;
    display: flex;
    top: 0px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 300px;
    height: auto;
}

/************************* desktop config *************************/
@media only screen and (min-width: 601px) {

    nav {
        height: 2%;
        background-color: white;
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
        display: flex;
        top: 0px;
        z-index: 1;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        font-weight: bold;
    }

    nav li,
    nav a {
        display: inline;
        padding: 10px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-display: swap;
        color: black;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
    }

    nav a:hover {
        color: #fc7978;
    }

    html:not([data-scroll='0']) nav {
        position: sticky;
        top: 0px;
        left: 10px;
        right: 10px;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 15px;
        box-shadow: 0px 10px 20px -10px rgba(211, 218, 227, 0.1);
        outline: none;
    }

}

.mynav .icon {
    display: none;
    width: 20px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: white;

}

/************************* mobile config *************************/
@media only screen and (max-width: 600px) {

    h1 {
        margin-bottom: 5%;
    }

    h2,
    h3,
    h4 {
        text-align: left;
        margin: 5% 0 5% 0;
    }

    .mynav {
        overflow: hidden;
        background-color: white;
        width: 100%;
    }

    .mynav ul {
        margin: 5px;
        padding: 0;
    }

    .mynav li,
    .mynav a {
        display: block;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px;
        font-display: swap;
    }

    /* hide all links except for first (home) */
    .mynav a,
    .mynav li:not(:first-child) {
        display: none;
    }

    /* show links in topnav (.icon) */
    .mynav a.icon,
    .mynav li.icon {
        width: 40px;
        display: block;
        margin: 10px auto;
    }

    html:not([data-scroll='0']) .mynav {
        position: sticky;
        top: 0px;
        border: none;
        border-radius: 0;
        z-index: 1;
        left: 10px;
        right: 10px;
        box-shadow: 0px 10px 20px -10px rgba(211, 218, 227, 0.1);
        outline: none;
    }

    .case-content {
        width: 90vw !important;
    }

    .footer {
        margin-top: 10%;
    }

}

/************************* mobile responsive config *************************/
@media only screen and (max-width: 600px) {

    /* for topnav with JS when clicking the icon */
    .mynav.responsive {}

    .mynav.responsive a.icon,
    .mynav.responsive li.icon {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
    }

    /* displays links vertically for mobile */
    .mynav.responsive ul {}

    .mynav.responsive li,
    .mynav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

/************************* home hero *************************/
.hero-image {
    background-color: white;
    /*background: url(images/cloudstars-bg.svg);*/
    /*height: 100vh;*/
    height: 60vh;
    background-size: cover;
    /*
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
*/
    padding: 0;
    margin: 0;
    min-width: 100%;
    overflow: hidden;
}

.hero-text {
    align-content: center;
    width: 80%;
    margin: auto;
}

.hero-text h1 {
    color: black;
    text-align: left;
    margin: 8% 0 8px 0;
    padding-top: 5%;
    vertical-align: baseline;
    background: 0 0;
    display: block;
}

.hero-text h4 {
    text-align: left;
    margin: 0 0 8px 0;
    padding: 0;

}

.hero-text p {
    text-align: left;
    margin: 0;
    padding: 0;
}

.home-text {
    color: black;
    position: relative;
    height: 100%;
    margin: auto;
}

.home-text h1 {
    margin-bottom: 4%;
}

.home-text h2 {
    text-align: center;
}

.home-text p {
    width: 100%;
}

/************************* home portfolio *************************/
.portfolio {
    padding: 3%;
    margin: 3%;
    background-color: white;
    background-position: center;
    background-repeat: repeat;
    position: relative;
}

.portfolio-boxes {
    margin: auto;
    width: 100%;
    flex-grow: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.container {}

.mywork {
    height: 100%;
    margin-bottom: 50px;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col-md-6 parent {
    position: relative;
    min-height: 1px;
    padding: 0;
    margin-bottom: 3%;
}

.button {
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.4s;
    margin: 2% auto;
    width: 250px;
    font-size: 20px;
    padding: 10px 0;
    background-color: white;
    color: gray;
    outline: none;
    /*
    box-shadow: inset 0 -3px #d16463;
    box-shadow: 0 2px 5px 0 rgba(211, 218, 227, 100);
*/
    border: 2px solid gray;
    font-weight: bold;
    text-decoration: none;
}


.button:hover {
    background-color: #fc7978;
    /*
    box-shadow: inset 0 -3px #d16463;
    box-shadow: 0 2px 5px 0 rgba(211, 218, 227, 100);
*/
    border: 2px solid transparent;
    color: white;
    text-decoration: none;
}

/*
.button1:hover {
    background-color: gray;
    border: 2px solid transparent;
    color: white;
    text-decoration: none;
}
*/

img {
    width: 100%;
}

/************************* home art *************************/
.art {
    background-color: white;
    padding: 2%;
    margin: auto;
    max-width: 700px;
}

.art-container {
    background-color: white;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.column {
    flex: 33.33%;
    padding: 5px;
    margin: 0;
}

/************************* home about *************************/
.about {
    background-color: white;
    /*
    padding: 2%;
    margin: 2%;
    justify-content: left;
*/
    padding: 2em 0 2em 0;
}

.about-img-div {
    padding: 2em 0 0 0;
    width: 100%;
}

.about-img {
    border-radius: 50%;

}


figcaption {
    /*
    padding-top: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 3%;
*/
}

/************************* project content *************************/

.summary {
    height: 100%;
    margin: auto;
    padding: 0;
}

.snippet {
    text-align: left;
    height: 100%;
}

.snippet h4 {
    padding-top: 20px;
}

.snippet p {
    padding: 0;
}

.problem {}

.case-content {
    width: 80vw;
    min-width: 310px;
    padding-bottom: 3%;
    margin: 0 auto;
    display: block;
}

.case-content h3 {
    margin-top: 50px;
}

.logo-image {
    margin: 25px auto;
    width: 300px;
    display: block;
}

/* main title */

.background {
    display: block;
}

.content-heading {
    position: relative;
    /*    padding-top: 2em;*/
    /*    top: -4em;*/
    /*    border-radius: 1.2em 1em 0 0;*/
    background: #fff;
    padding-top: 1em;
    margin: 0 auto;
}

.content-heading h1,
.content-heading p {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.subtitle {
    font-style: italic;
    color: gray;
}

.overview-title {
    font-weight: bold;
    text-transform: uppercase;
}

.content-process {
    margin: 0 0 2% 0;
    position: relative;
}

.content-process h1,
h2,
h3,
h4,
h5 {
    text-align: left;
}

.content-process img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.heading-section p {
    text-align: center;
}

/************************* unique project content *************************/
.csa {
    background-color: #49b1ed;
    color: white;
    padding: 16px;
}

.csa-font {
    color: #49b1ed;
}

.bobateau {
    background-color: #E2AA87;
    color: white;
    padding: 16px;
}

.bobateau-font {
    color: #E2AA87;
}

.bobasaurus {
    background-color: #7EBDB4;
    color: white;
    padding: 16px;
}

.bobasaurus-font {
    color: #7EBDB4;
}

.aliexpress {
    background-color: #A42116;
    color: white;
    padding: 16px;
}

.aliexpress-font {
    color: #A42116;
}

.stitcher {
    background-color: #522d5b;
    color: white;
    padding: 16px;
}

.stitcher-font {
    color: #522d5b;
}

.statwax {
    background-color: #00b1aa;
    color: white;
    padding: 16px;
}

.statwax-font {
    color: #00b1aa;
}


.goal {
    margin-top: 20px;
    padding: 10px;
}

.csa h3,
.bobateau h3,
.bobasaurus h3,
.aliexpress h3,
.stitcher h3,
.statwax h3 {
    margin-top: .5em !important;
}

/************************* sections *************************/
.section {
    margin: auto;
    text-align: left;
    height: 100%;
    margin-top: 100px;
}

.section img {
    margin: auto;
    margin-bottom: 1%;
}

.section h4 {
    text-align: left;
}

.section ol,
.section ul {
    padding: 0 0 20px 50px;
}

.overview {}

.wireframe {
    margin: auto;
}

.in-progress h3 {
    margin: auto;
    padding: 10px;
}

.survey {
    width: 40%;
    float: right;
    margin-left: 10px
}

/************************* footer *************************/
footer {
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.footer-text {
    margin-top: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 14px;
}

.socialmedia {
    margin: 3px;
    max-width: 30px;
}

/************************* slideshow *************************/
* {
    box-sizing: border-box
}

body {
    font-family: "Roboto", sans-serif;
    font-display: swap;
    margin: 0
}

/* slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    margin: auto;
}

/* next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
